 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 254px;
}

.u-section-1 .u-shape-1 {
  height: 202px;
  width: 1152px;
  margin: 26px -12px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1084px;
  margin: -188px auto 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 174px;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 20px;
}

.u-section-1 .u-image-1 {
  width: 122px;
  height: 122px;
  background-image: url("images/aicamplogo.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 894px;
    margin-bottom: 60px;
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 685px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 116px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 260px;
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 513px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    height: 319px;
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 323px;
    margin-left: 8px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 193px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 981px;
}

.u-section-2 .u-group-1 {
  min-height: 94px;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 6px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1078px;
  margin: 24px 23px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 707px;
}

.u-section-2 .u-group-2 {
  width: 307px;
  min-height: 231px;
  margin: 60px auto 0 20px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 228px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  margin: 7px 0 0;
}

.u-section-2 .u-image-1 {
  height: 347px;
  margin-bottom: 0;
  margin-top: 69px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 707px;
}

.u-section-2 .u-group-3 {
  width: 307px;
  min-height: 255px;
  margin: 60px 16px 0 24px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 207px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: normal;
  margin: 7px 0 0;
}

.u-section-2 .u-image-2 {
  height: 347px;
  margin-bottom: 0;
  margin-top: 44px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 707px;
}

.u-section-2 .u-group-4 {
  width: 311px;
  min-height: 305px;
  margin: 60px auto 0;
}

.u-section-2 .u-group-5 {
  min-height: 289px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 225px 0 2px;
}

.u-section-2 .u-text-7 {
  font-style: normal;
  margin: 7px 0 0;
}

.u-section-2 .u-image-3 {
  height: 343px;
  margin-bottom: 0;
  margin-top: -1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 51px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 1016px;
    margin-top: 19px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-2 .u-group-2 {
    width: 301px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 198px;
  }

  .u-section-2 .u-image-1 {
    height: 303px;
    margin-top: 113px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-2 .u-group-3 {
    width: 301px;
    min-height: 256px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 214px;
  }

  .u-section-2 .u-image-2 {
    height: 303px;
    margin-top: 88px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 664px;
  }

  .u-section-2 .u-group-4 {
    width: 301px;
    margin-top: 13px;
  }

  .u-section-2 .u-group-5 {
    width: 301px;
    margin-top: 7px;
    margin-right: -13px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: 111px;
  }

  .u-section-2 .u-image-3 {
    height: 299px;
    width: 327px;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 794px;
    margin-top: -13px;
    margin-left: -37px;
    margin-right: -37px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 692px;
  }

  .u-section-2 .u-group-2 {
    width: 228px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 125px;
  }

  .u-section-2 .u-image-1 {
    height: 213px;
    margin-top: 132px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 692px;
  }

  .u-section-2 .u-group-3 {
    width: 228px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 141px;
  }

  .u-section-2 .u-image-2 {
    height: 210px;
    margin-bottom: -2px;
    margin-top: 161px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 692px;
  }

  .u-section-2 .u-group-4 {
    width: 228px;
  }

  .u-section-2 .u-group-5 {
    width: 228px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 84px;
  }

  .u-section-2 .u-image-3 {
    height: 208px;
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2735px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin: -17px 0 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 771px;
  }

  .u-section-2 .u-group-2 {
    min-height: 331px;
    margin-top: 77px;
  }

  .u-section-2 .u-image-1 {
    height: 292px;
    margin-top: 71px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 955px;
  }

  .u-section-2 .u-group-3 {
    min-height: 306px;
    margin-top: 81px;
  }

  .u-section-2 .u-image-2 {
    height: 361px;
    margin-top: 107px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 951px;
  }

  .u-section-2 .u-group-4 {
    min-height: 381px;
    margin-top: 31px;
  }

  .u-section-2 .u-group-5 {
    min-height: 381px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin: 19px -2px -12px 2px;
  }

  .u-section-2 .u-image-3 {
    height: 424px;
    margin-top: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1938px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -23px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 41px;
    margin-left: 46px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 48px;
    margin-left: 46px;
  }

  .u-section-2 .u-text-4 {
    width: 87px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 269px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-group-5 {
    width: 241px;
    margin-right: -13px;
    margin-bottom: -7px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin: 9px 0 0;
  }

  .u-section-2 .u-image-3 {
    height: 267px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 948px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1078px;
  margin: 20px 23px 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 828px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-3 .u-group-1 {
  width: 309px;
  min-height: 400px;
  margin: 66px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 240px 0 2px;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 2px 2px 0 0;
}

.u-section-3 .u-image-1 {
  height: 326px;
  margin-bottom: 0;
  margin-top: 36px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 828px;
}

.u-section-3 .u-container-layout-3 {
  padding: 37px 0 0;
}

.u-section-3 .u-group-2 {
  width: 307px;
  min-height: 281px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 253px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 7px 0 0;
}

.u-section-3 .u-image-2 {
  height: 324px;
  width: 345px;
  margin: 160px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 828px;
}

.u-section-3 .u-group-3 {
  width: 311px;
  min-height: 281px;
  margin: 59px auto 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 252px 0 2px;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 7px 0 0;
}

.u-section-3 .u-image-3 {
  height: 323px;
  margin-top: 140px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 1010px;
    margin-top: 12px;
    margin-left: -35px;
    margin-right: -35px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 786px;
  }

  .u-section-3 .u-group-1 {
    width: 301px;
    margin-top: 28px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 236px;
  }

  .u-section-3 .u-image-1 {
    height: 284px;
    margin-top: 74px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 786px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-3 .u-group-2 {
    width: 301px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 247px;
  }

  .u-section-3 .u-image-2 {
    height: 282px;
    margin-top: 195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 786px;
  }

  .u-section-3 .u-group-3 {
    width: 300px;
    min-height: 306px;
    margin-top: 28px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 40px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 281px;
    margin-top: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 792px;
    margin-top: 68px;
    margin-left: -36px;
    margin-right: -36px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 831px;
  }

  .u-section-3 .u-group-1 {
    width: 228px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-3 .u-image-1 {
    height: 218px;
    margin-top: 84px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 831px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 37px;
  }

  .u-section-3 .u-group-2 {
    width: 228px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 174px;
  }

  .u-section-3 .u-image-2 {
    height: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 831px;
  }

  .u-section-3 .u-group-3 {
    width: 227px;
    min-height: 406px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    height: 215px;
    margin-top: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1130px;
  }

  .u-section-3 .u-group-1 {
    min-height: 551px;
    margin-top: 42px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-3 .u-image-1 {
    height: 446px;
    margin-top: 46px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 46px;
    margin-left: 145px;
  }

  .u-section-3 .u-image-2 {
    height: 446px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 440px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 163px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-group-1 {
    width: 214px;
    margin-top: 28px;
    margin-right: 14px;
    margin-bottom: -14px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 2px;
    margin-right: 195px;
    margin-left: -46px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
    margin-right: 46px;
    margin-left: -80px;
  }

  .u-section-3 .u-image-1 {
    height: 281px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 888px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 13px;
    margin-right: 52px;
    margin-left: 60px;
  }

  .u-section-3 .u-image-2 {
    height: 305px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    order: 0;
  }

  .u-section-3 .u-image-3 {
    height: 277px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 769px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 1235px);
  height: 296px;
  background-image: none;
  margin: 237px calc(((100% - 1140px) / 2) + -95px) 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 308px;
  margin: -507px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 378px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 59px 20px 0;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  margin: -12px 20px -263px;
}

.u-section-4 .u-image-1 {
  min-height: 306px;
  background-image: url("images/IMG_3577.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 914px;
  }

  .u-section-4 .u-shape-1 {
    width: 940px;
    margin-top: 381px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -490px;
    margin-bottom: 43px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1341px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
    margin-top: 501px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -687px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-4 .u-image-1 {
    min-height: 268px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 3098px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
    margin-top: -1040px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 3002px;
  }

  .u-section-4 .u-image-1 {
    min-height: 402px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1299px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-top: 1638px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-image-1 {
    min-height: 253px;
  }
}